.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #e0f5e0;
  color: #5e5b5b;
  position: relative;
  top:0;
  width: 100vw;
  height: 60px;
}

.userInfo {
  display: flex;
  align-items: center;
}

.userInfo span {
  margin-right: 15px;
  font-weight: 600;
}

.header img  {
  position: relative;
  top: 3px;
  left: 40px;
}

.logoutButton {
  padding: 8px 12px;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logoutButton:hover {
  background-color: #c0392b;
}

.authButtons button {
  padding: 8px 12px;
  margin-left: 10px;
  background-color: #00bf62;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
  bottom: 14px;
 
}

.authButtons button:hover {
  background-color: #5ecca7;
}

.authButtons button:active {
  background-color: #1c598f;
}


@media (max-width: 600px) {
  .header {
    position: absolute;
    right: 5px;
    top: 0;
  }
}