/* about.module.css */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px 20px;
  background-color: #f0f0f0;
  margin-bottom: 60px;


}

.image1 {
  border: 2px solid #00bf62;
  padding: 10px 10px 10px 10px;
  margin-top: 10px;

}

.section {
  width: 100%;
  max-width: 1000px;
  margin-bottom: 20px;
  padding: 20px;
  border: 2px solid #00bf62;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.section p {
  margin-bottom: 10px;
}

.title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
  color: #00bf62;
}

.text {
  font-size: 1.2rem;
  color: #555;
  line-height: 1.6;
}

.imageContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  /* Espaço entre as imagens lado a lado */
  margin-bottom: 20px;
}

.image {
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.imageGrid {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(2, 1fr);
  /* Define 2 colunas de tamanho igual */
  justify-items: center;
  /* Centraliza as imagens dentro de cada célula */
}


@media (max-width: 600px) {

  .imageContainer {
    display: grid;
    justify-content: center;
    gap: 20px;
    /* Espaço entre as imagens lado a lado */
    margin-bottom: 20px;
  }

  .imageGrid {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }


  .section img {
    width: 400px;
  }

}

@media (max-width: 992px) {
  .imageContainer {
    display: grid;
    justify-content: center;
    gap: 20px;
    /* Espaço entre as imagens lado a lado */
    margin-bottom: 20px;
  }

  .imageGrid {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }


  .section img {
    width: 400px;
  }
}