.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin-bottom: 150px;
}

.form {
  width: 100%;
  max-width: 500px;
  background-color: #f9f9f9;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  top: 100px;

}

.form h1 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.form textarea {
  width: 430px;
  height: 200px;
  resize: none;
  padding: 0.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  line-height: 1.5;
  font-family: sans-serif;
  box-sizing: border-box;
}

.form button {
  width: 100%;
  padding: 1rem;
  background-color: #00bf62;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

.form button:hover {
  background-color: #5ecca7;
}

.form button:disabled {
  background-color: #cccccc;
}

.error {
  color: red;
  font-size: 0.875rem;
  margin-bottom: 1rem;
}


@media (max-width: 600px) {
  .form textarea {
    width: 370px;
  }

}