.container {
  display: grid;
  height: 100vh;
  /* Ocupa toda a altura da tela */
  background-color: #fff;
  padding: 10px;
  position: relative;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;

  /* Centraliza o conteúdo */
  place-items: center;
  /* Centraliza o conteúdo tanto na vertical quanto na horizontal */
}

.form {
  width: 460px;
  background: #fff;
  border-radius: 20px;
  padding: 20px;
  top: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(65, 62, 62, 0.1);
  position: relative;
  top: -80px;


}

.form h1 {
  text-align: center;
  font-size: 1.5rem;
  color: #333;
}

/* Estilos para o formulário */
.form div {

  padding: 10px;
  border-radius: 8px;
  display: grid;
  width: 100%;


}

.form div label {
  font-size: 1rem;
}


/* Estilos para os inputs */
.form div input {
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  width: 100%;
}

.form span {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.form span a {
  position: relative;
  right: 60px;
  top: 10px;
  text-transform: uppercase;

}

.form span a:hover {
  text-decoration: underline;
}


/* Estilos para o botão */
.form button {
  background-color: #00bf62;
  color: #fff;
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  position: relative;
  left: 10px;
}

.form button:hover {
  background-color: #5ecca7;
}

/* Estilos para mensagens de erro */
.error {
  color: red;
  font-size: 1rem;
  margin-top: 5px;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;

}